@{
    ViewData["Title"] = "О нас";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center">
    <h3>Данный сайт создан для упрощения изучения русского языка. Здесь представленый разного рода калькуляторы по которым вы сможете определить стиль речи текста и часть речи слова. Планируеться добавить переводчик, а также билитотеку задач для само обучения</h3>
</div>
<div class="text-center">
    <h4>Пока сайт в разработке, и калькулятор части речи нуждается в дороботке, а калькулятор стиля речи текста в существенной модернизации кода</h4>
</div>
<p class="mb-5"></p>
<div class="text-left">
    <h6>НАШИ ЦЕЛИ</h6>
    <h6> Доработать калькулятор части речи слова</h6>
    <h6> Доработать калькулятор стиля речи текста</h6>
    <h6> Добавить переводчик</h6>
    <h6> Добавить задачи для самообучения</h6>
    <h6> Перевести сайт на Японский, Китайский, Английский</h6>
</div>
<p class="mb-3"></p>
<div class="text-left">
    <h6>РАЗРАБОТЧИКИ</h6>
    <h6> Науман Константин Викторович - разработчик алгоритмов для анализа текстов, дизайнер</h6>
    <h6> Кравченко Кирилл Юрьевич - веб инженер, старший программист</h6>
</div>

