@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль";
}


<form class="login" method="post" asp-controller="Account" asp-action="ForgotPassword">
    <div class="error" asp-validation-summary="All"></div>
    <div>
        <label for="login" asp-for="Email">Логин:</label>
        <input type="text" id="login" asp-for="Email">
        <span class="error" asp-validation-for="Email"></span>
    </div>

    <p class="login-submit">
        <button type="submit" class="login-button">Регистрация</button>
    </p>

    <p class="forgot-password">
        <a asp-controller="Account" asp-action="Login">Вспомнили пароль?</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </p>

    @* @foreach (Phone p in Model.Phones)
    {
        <tr><td>@p.Name</td><td>@p.Manufacturer?.Name</td><td>@p.Price</td></tr>
    }*@

</form>
