@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль";
}


<form class="login" method="post" asp-controller="Account" asp-action="ResetPassword">
    <div class="error" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Code">
    <input type="hidden" asp-for="UserId">
    <div>
        <label for="login" asp-for="Password">Пароль:</label>
        <input type="text" id="login" asp-for="Password">
        <span class="error" asp-validation-for="Password"></span>
    </div>

    <div>
        <label for="login" asp-for="ConfirmPassword">Повторите:</label>
        <input type="text" id="login" asp-for="ConfirmPassword">
        <span class="error" asp-validation-for="ConfirmPassword"></span>
    </div>

    <p class="login-submit">
        <button type="submit" class="login-button">Сброс Пароля</button>
    </p>

    <p class="forgot-password">
        <a asp-controller="Account" asp-action="Login">Вспомнили пароль?</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </p>
</form>